layout {
    gaps 10
    background-color "transparent"

    preset-column-widths { proportion 0.33333; proportion 0.5; proportion 0.66667; }
    default-column-width { proportion 0.5; }
    preset-window-heights { proportion 0.33333; proportion 0.5; proportion 0.66667; }

    focus-ring {
	off
	width 2
	active-color "#89b4fa"
	inactive-color "#313244"
	urgent-color "#f38ba8"
    }

    border {
	on
	width 2
	active-color "#89b4fa"
	inactive-color "#313244"
	urgent-color "#f38ba8"
    }

    shadow {
	off
	softness 10
	spread 2
	offset x=0 y=0
	color "#11111b"
    }

    tab-indicator {
	off
	hide-when-single-tab
	place-within-column
	gap 5
	width 2
	length total-proportion=1.0
	position "right"
	active-color "#89b4fa"
	inactive-color "#313244"
	urgent-color "#f38ba8"
    }

    insert-hint {
	on
	color "#89b4fa"
    }

    struts { }
}
